<H2 customDirective>BIENVENIDOS A RESTAURANTE COREANO</H2>

<div class="main">
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
  <div class="plane">
    <div class="triangle"></div>
  </div>
</div>
<div class="inspiration"><a class="inspiration__link" href="https://dribbble.com/shots/5582653-Triangles" target="_blank" rel="noreferer">https://dribbble.com/shots/5582653-Triangles</a></div>
<h1>Nuestra comida es la Mejor Ecuador</h1>
<p customDirective>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eaque, modi excepturi maiores magni unde quo ex facilis exercitationem obcaecati est fugit quae eos perspiciatis nesciunt placeat aspernatur omnis rem!</p>
