<div class="container">
  <h2>Inicio</h2>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Búsqueda</h3>
      <input type="text" [(ngModel)]="filtro" placeholder="Ingrese un término de búsqueda">
      <button (click)="buscar()">Buscar</button>
    </div>
    <div class="col-md-6">
      <h3>Filtrar por precio</h3>
      <input type="number" [(ngModel)]="minPrecio" placeholder="Precio mínimo">
      <input type="number" [(ngModel)]="maxPrecio" placeholder="Precio máximo">
      <button (click)="filtrarPorPrecio()">Filtrar</button>
    </div>
  </div>

  
</div>
